<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../style.css">  
	<script src="../script.js" defer></script>
	<title>Car Rental</title>
</head>
<body>
	<section id="header">
		<nav>
		  <div class="left">
			<!-- <img src="../images/logo.jpg" alt="logo" width="60px" height="60px"> -->
			<div>
			  <h5>CAR</h5>
			  <p>Rental</p>
			</div>
		  </div>
		  <ul class="middle">
			<li><a href="../index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="vehicle.html">Vehicle Models</a></li>
			<li><a href="testimonals.html">Testimonals</a></li>
			<li><a href="ourteam.html">Our Team</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		  <div class="right">
			<a href="#" id="sign-in">Sign In</a>
			<button href="#" id="register">Register</button>
		  </div>
		  <a href="#"><i class="fa-solid fa-bars bar"></i></a>
		</nav>
	
		<div id="navbar">
		  <i class="fa-solid fa-x close"></i>
		  <a href="../index.html">Home</a>
		  <a href="about.html">about</a>
		  <a href="vehicle.html">Vehicle Models</a>
		  <a href="testimonals.html">Testimonials</a>
		  <a href="ourteam.html">Our Team</a>
		  <a href="contact.html">Contact</a>
		</div>	

		<div class="content">
			<h2>Testimonials</h2>
			<p><a href="../index.html">Home</a> / Testimonials</p>
		</div>
	</section>

	<section id="testimonials">
		<h5>Reviewed by People</h5>
		<h2>Client's Testimonials</h2>
		<p id="desc">Discover the positive impact we've made on the our clients by reading through their testimonials. Our clients have experienced our service and results, and they're eager to share their positive experiences with you.</p>
		<div class="cards">
		  <div class="card">
			<h6>"We rented a car from this website and had an amazing experience! The booking was easy and the rental rates were very affordable. "</h6>
			<div class="details">
			  <div class="left">
				<img src="../images/profile1.jpeg" alt="">
				<div>
				  <h5>Parry Hotter</h5>
				  <p>Belgrade</p>
				</div>  
			  </div>
			  <i class="fa-solid fa-quote-right"></i>
			</div>
		  </div>
		  <div class="card">
			<h6>"The car was in great condition and made our trip even better. Highly recommend for this car rental website!"</h6>        
			<div class="details">
			  <div class="left">
				<img src="../images/profile2.jpg" alt="">
				<div>
				  <h5>Parry Hotter</h5>
				  <p>Novi sad</p>
				</div>
			  </div>
			  <i class="fa-solid fa-quote-right"></i>
			</div>
		  </div>
		</div>
	  </section>

	<section id="bookcall">
	<h4>Book a car by getting in touch with us <span><i class="fa-solid fa-phone"></i> +251 9273 5010</span></h4>
	</section>

	  
  <section id="footer">
    <div class="col">
      <h5>CAR Rental</h5>
      <p>We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs.</p>
      <span class="address"><a href="#"><i class="fa-solid fa-phone"></i> +25192345678</a></span>
      <span class="address"><a href="mailto:carrent@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i> carrent@gmail.com</a></span>
    </div>
    <div class="col">
      <h5>Company</h5>
      <ul>
        <li><a href="#">NewYork</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">How we work</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>Working Hours</h5>
      <span>Mon - Fri: 9:00AM - 9:00PM</span>
      <span>Sat: 9:00AM - 19:00PM</span>
      <span>Sun: Closed</span>
    </div>
    <div class="col">
      <h5>Subscription</h5>
      <span>Subscribe your Email address for latest news & updates.</span>
      <!-- <div class="sub"> -->
      <input type="email" placeholder="Enter Your Email">
      <button>Submit</button>
      <!-- </div> -->
    </div>
  </section>

</body>
</html>