<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../style.css">  
	<script src="../script.js" defer></script>
	<title>Car Rental</title>
</head>
<body>
	<div id="navbar">
		<i class="fa-solid fa-x close"></i>
		<a href="../index.html" class="link">Home</a>
		<a href="about.html" class="link">about</a>
		<a href="vehicle.html" class="link">Vehicle Models</a>
		<a href="testimonals.html" class="link">Testimonials</a>
		<a href="ourteam.html" class="link">Our Team</a>
		<a href="contact.html" class="link">Contact</a>
	</div>	
	<section id="header">
		<nav>
		  <div class="left">
			<!-- <img src="../images/logo.jpg" alt="logo" width="60px" height="60px"> -->
			<div>
			  <h5>CAR</h5>
			  <p>Rental</p>
			</div>
		  </div>
		  <ul class="middle">
			<li><a href="../index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="vehicle.html">Vehicle Models</a></li>
			<li><a href="testimonals.html">Testimonals</a></li>
			<li><a href="ourteam.html">Our Team</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
		  <div class="right">
			<a href="#" id="sign-in">Sign In</a>
			<button href="#" id="register">Register</button>
		  </div>
		  <a href="#"><i class="fa-solid fa-bars bar"></i></a>
		</nav>
		<div class="content">
			<h2>Vehicle Models</h2>
			<p><a href="../index.html">Home</a> / About</p>
		</div>
	</section>

	<section id="vehicle">
		<div class="container">
			<div class="item">
				<img src="../images/car1.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>Audi A1</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$45</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Audi</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
			<div class="item">
				<img src="../images/car2.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>Golf 6</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$35</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>VW</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
			<div class="item">
				<img src="../images/car3.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>Toyota</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$40</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Camry</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
			<div class="item">
				<img src="../images/car4.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>BMW 320</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$32</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Modernline</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
			<div class="item">
				<img src="../images/car5.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>Mercedes</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$45</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Audi</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
			<div class="item">
				<img src="../images/car6.png" alt="car-image">
				<div class="bottom">
					<div class="row">
						<div class="left">
							<h4>VW Passat</h4>
							<div class="rating">
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
						</div>
						<div class="right">
							<h4>$45</h4>
							<p>per day</p>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>CC</span>
						</div>
						<div class="right">
							<span>4 / 5</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
					<div class="row">
						<div class="left">
							<i class="fa-solid fa-car-side"></i>
							<span>Manual</span>
						</div>
						<div class="right">
							<span>Diesel</span>
							<i class="fa-solid fa-car-side"></i>
						</div>
					</div>
				</div>
				<button>Book Ride</button>
			</div>
		</div>
	</section>

	<section id="bookcall">
	<h4>Book a car by getting in touch with us <span><i class="fa-solid fa-phone"></i> +251 9273 5010</span></h4>
	</section>

	  
  <section id="footer">
    <div class="col">
      <h5>CAR Rental</h5>
      <p>We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs.</p>
      <span class="address"><a href="#"><i class="fa-solid fa-phone"></i> +25192345678</a></span>
      <span class="address"><a href="mailto:carrent@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i> carrent@gmail.com</a></span>
    </div>
    <div class="col">
      <h5>Company</h5>
      <ul>
        <li><a href="#">NewYork</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">How we work</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>Working Hours</h5>
      <span>Mon - Fri: 9:00AM - 9:00PM</span>
      <span>Sat: 9:00AM - 19:00PM</span>
      <span>Sun: Closed</span>
    </div>
    <div class="col">
      <h5>Subscription</h5>
      <span>Subscribe your Email address for latest news & updates.</span>
      <!-- <div class="sub"> -->
      <input type="email" placeholder="Enter Your Email" name="email">
      <button>Submit</button>
      <!-- </div> -->
    </div>
  </section>

</body>
</html>